@import 'styles/rwd';
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  // 10px in <$small
  font-size: 10px;

  // Calculate between $small and $large
  @media (min-width: $bp-small) {
    font-size: between(18px, 10px, $bp-large, $bp-small);
  }

  // Cap at 18px in >$large
  @media (min-width: $bp-large) {
    font-size: 18px;
  }
}

html,
body {
  height: 100%;
  font-family: Helvetica;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #282c34;
}
