<style>
    .navbar{
        /*background-color: rgba(52,73,94,1);*/
        background-color: #5484ca;
        color: white;
        border:0;
    }
    #menu_list a{
        color: white;
    }
    /*#tech_image{*/
    /*    margin-top:-30px;*/
    /*    background-image:url(http://i.imgur.com/saGvBc6.jpg);*/
    /*    background-repeat:no-repeat;*/
    /*    background-size:100%;*/
    /*    background-attachment:fixed;*/
    /*    height: 600px;*/
    /*}*/
    .landing{
        padding:150px;
    }

  #header .jumbotron{
      /*background-image: url("http://i.imgur.com/lm2gZ6c.jpg?3");*/
        font-family: "Helvetica Neue";
        margin-top:10px;height:600px;
        background-repeat: no-repeat;
        background-color: #5484ca;/*white/*rgba(52,73,94,1);*/
  }
  #logo{
      display: block;
      margin: auto;
  }

</style>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Muli" />
<body data-spy="scroll" data-target=".navbar" data-offset="0" style="position:relative">
<nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home"><img src=""></a>
                </div>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="menu_list"><a style="color:white" href="#About">ABOUT</a></li>
                        <li class="menu_list"><a style="color:white" href="#Team">TEAM</a></li>
                        <li class="menu_list"><a style="color:white"  href="#Contact">CONTACT</a></li>
                        {{#if user}}
                            <li class="menu_list"><a href="/sites">SITES</a></li>
                            {{else}}
                            <li><a style="color:white" href="/login">LOG IN</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
<header id="header">
    
        <div class="jumbotron text-center landing">
            <img id="logo" src="http://i.imgur.com/HO70qIi.png" >
            <h1 style="margin-top:20px;color:rgba(52,73,94,1)">Enterprise Commercial Analytics</h1>
            <h4 >Discover, Track, And Anticipate Your In-Store Customer Behavior</h4>
            <form class="form-inline">
                <div class="input-group">
                    <input type="email" class="form-control" size="50" placeholder="Email Address">
                    <div class="input-group-btn">
                        <button class="btn btn-primary">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
</header>
<section id="tech_image"></section>
    <section id="About" class="container-fluid">
       <div style="text-align: center">
            <h1>What We're About</h1>
       </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="col-sm-offset-2" src="images/idea.png" width="50%">
             </div>
            <div class="panel col-sm-8" style="background-color:rgba(0,0,0,0)"> 
                <div class="panel-heading">
                    <h3>The Idea</h3>
                </div>
                <div class="panel-body">
                    <p>A lack of understanding can be the biggest barrier to positive change. As technology advances,
                        so do the opportunities to improve your facility’s management. Finally, through Dash’s
                        proprietary technology you can understand and manage your wait times, lines, and customer traffic.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="col-sm-offset-2" src="images/vision.png" width="50%">
             </div>
            <div class="panel col-sm-8" style="background-color:rgba(0,0,0,0)"> 
                <div class="panel-heading">
                    <h3>The Vision</h3>
                </div>
                <div class="panel-body">
                    <p>Dash Analytics is here to solve a timeless problem. We are the world’s first total wait time
                        solution —From a management dashboard to a customer application platform; we optimize
                        your management’s efficiency while providing an innovative convenience to streamline your
                        customer’s experience. Our solution lends a deeper understanding of each customer who walks
                        into your business and their behavior within your store.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="col-sm-offset-2" src="images/technology.png" width="50%">
            </div>
            <div class="panel col-sm-8" style="background-color:rgba(0,0,0,0)"> 
                <div class="panel-heading">
                    <h3>The Technology</h3>
                </div>
                <div class="panel-body">
                    <p></p>
                </div>
            </div>
        </div>
    </section>
    <section style="text-align:center">
        <h2>APPLICATIONS</h2>
        <div id="testimonial_carousel" class="carousel slide text-center" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#testimonial_carousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonial_carousel" data-slide-to="1" class="active"></li>
                <li data-target="#testimonial_carousel" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3>In Store Customer Tracking</h3>
                        </div>
                        <div class="panel-body">
                            <p>“Research suggests that estimated wait times diffuse 
                                the stress and anxiety people feel when they are waiting 
                                in lines.”- The Washington Post
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3>Monitor Customer Interaction With Your Product Placement Scheme</h3>
                        </div>
                        <div class="panel-body">
                            <p>“$20 is the amount that US fans, on average, said they would spend additionally 
                                for food & beverage if wait times were cut in half. 
                                That represents a 42% increase in typical expenditure 
                                (per party, per game).”- Oracle Research
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3>Analyze Live Statistics</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                “The way that businesses manage lines results in 
                                easily billions of dollars of gained and lost 
                                brand equity and consumer spending.” - Dr. Richard Larson, MIT
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <a class="left carousel-control" href="#testimonial_carousel" style="background-image:none" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#testimonial_carousel" style="background-image:none" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
    </section>
    <section id="Team">
       <div class="jumbotron" style="text-align: center;margin-top:0px">
            <h2>Meet Our Expert Team</h2></br>
            <div class="row">
                  <div class="col-sm-offset-1 col-sm-4">
                    <div class="thumbnail" style="border-style:none;background-color:transparent">
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAl6AAAAJDEwMmQ4ODMxLTIxNDQtNGYyZC1hM2FiLTc0NTI2OTIzYjcxOA.jpg" class="img-rounded" alt="Collin Smith" width="50%">
                        <div class="caption" style="margin:auto; width:100%; text-align:center" >
                            <p style="font-weight:bold">Collin Smith</p>
                            <p>Chief Executive Officer</p>
                            <p>
                                As co-founder and CEO of Dash Analytics, Collin l
                                eads the team in a national implementation strategy, 
                                overseeing growth and scalability. 
                            </p>
                        </div>
                    </div>
                </div>
                  <div class="col-sm-offset-1 col-sm-4">
                    <div class="thumbnail" style="border-style:none;background-color:transparent">
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA1uAAAAJDlmZWUwNjMwLWM0YzgtNDg1MS1hOTNjLWYxZDlhNjc0ODBmMg.jpg" class="img-rounded" alt="Chris Jakobowski" width="50%">
                        <div class="caption" style="margin:auto; width:100%; text-align:center" >
                            <p style="font-weight:bold">Chris Jakobowski</p>
                            <p>Chief Operating Officer</p>
                            <p>
                                 Chris has extensive experience in project management, 
                                 handling the external and peripheral operations of the company.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-3">
                    <div class="thumbnail" style="border-style:none;background-color:transparent">
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAtLAAAAJGJkZWEwMTY5LTY0MTMtNDEyZS1iODAzLWE0ZmUzMjk0ZmE4NA.jpg" class="img-rounded" alt="Kenny Diedrich" width="50%">
                        <div class="caption" style="margin:auto; width:100%; text-align:center" >
                            <p style="font-weight:bold">Kenny Diedrich</p>
                            <p>Chief Technology Officer</p>
                            <p>
                                Alongside the team he manages, Kenneth researches 
                                and develops critical components of the solution 
                                and is heavily involved in the prototyping and 
                                installation of this innovative product.
                            </p>
                        </div>
                    </div>
                </div> 
                   <div class="col-sm-3">
                    <div class="thumbnail" style="border-style:none;background-color:transparent">
                        <img src="https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/182545_10200992460162027_325747672_n.jpg?oh=3d17e0a189d19a95689a00c9f65b98c9&oe=59B87C80" class="img-rounded" alt="Casey Dye" width="50%">
                        <div class="caption" style="margin:auto; width:100%; text-align:center" >
                            <p style="font-weight:bold">Casey Dye</p>
                            <p>Cheif Information Officer</p>
                            <p>Some info about Casey</p>
                        </div>
                    </div>
                </div> 
                   <div class="col-sm-3">
                    <div class="thumbnail" style="border-style:none;background-color:transparent">
                        <img src="https://scontent-dft4-2.xx.fbcdn.net/v/t31.0-8/12339215_1208427382506759_5538751028405840229_o.jpg?oh=f06d9b9869d1687674af58be9d206313&oe=59BF5893" class="img-rounded" alt="Blake Rogers" width="50%">
                        <div class="caption" style="margin:auto; width:100%; text-align:center" >
                            <p style="font-weight:bold">Blake Rogers</p>
                            <p>Web & Mobile Developer</p>
                            <p>
                                Blake is an ex-nuclear technician turned software developer. In his off time he 
                                is working on pet projects and enjoying the company of friends.
                            </p>
                        </div>
                    </div>
                </div>   
            </div>
       </div>
   </section>
 <div id="Contact" class="container-fluid text-center footer_info">
    <div class="row">
        <h2>Contact Us</h2>
        <div class="col-sm-5" style="color:#333333">
            <p><i class="fa fa-map-marker"></i>Norfolk,VA</p>                    
            <p><i class="fa fa-envelope"></i>email@email.com</p>
            <p><i class="fa fa-phone"></i>123-123-1234</p>
            <p><i class="fa fa-fax"></i>123-123-1234</p>
            <ul class="list-inline">
                <li>
                    <a href="#">
                        <span class="fa fa-stack">
                            <i class="fa fa-circle fa-stack-2x" style="color:black"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse" style=""></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa fa-stack">
                            <i class="fa fa-circle fa-stack-2x" style="color:black"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse" style=""></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa fa-stack">
                            <i class="fa fa-circle fa-stack-2x" style="color:black"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse" style=""></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>        
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" name="name" placeholder="Name">
                </div>
                <div class="col-sm-6 form-group">
                   <input class="form-control" name="email" placeholder="Email">
                </div>
            </div>
            <textarea rows="5" placeholder="Comment" class="form-control"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <div class="button">
                        <button class="btn btn-default pull-right">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
 </div>
</body>