<style>
 @font-face{
           font-family:poiret;
           src:url(/fonts/poiret-one.regular.ttf);
       }
    .navbar{
        /*background-color: rgba(52,73,94,1);*/
        color: white;
        border:0;
        height:80px;
    }
    .navbar-brand img{
        width: 30px;
        height:30px;
    }
    .clear{
      background-color: transparent;
    }
    .blueBG{
        background-color: rgba(52,73,94,0.8) ;
    }
      #mynavbar{
          height:80px;
          margin-top:10px;
       
      }
      .menu_list{
          margin-right:5px;
      }
    .menu_list a{
        color: white;
        border: 1px solid white;
        border-radius:10px;
    }
    
    .menu_list a:visited{
        color:rgba(52,73,94,1);
    }
    #About{
        margin-top:-30px;
        color:white;
        background-color: #5484ca;
        background-repeat:no-repeat;
        background-size:100%;
        background-attachment:fixed;
        padding:40px;
    }
    .landing{
        padding:150px;
    }
    .landing h1, .landing h4{
        margin-top:20px;
        color:white;
    }
    #header{
        background-size: cover;
        background-image: url("http://i.imgur.com/9RGAeu8.jpg");
        height:600px;
        background-repeat:no-repeat;
    }
    #header img{
        display:block;
        margin:auto;
        padding: 100px 0px;
    }
  #header2 .jumbotron{
        font-family: poiret;
        background-color: #5484ca;/*white/*rgba(52,73,94,1);*/
    }
    #Team h2{
        text-align:center;
    }
    #Team{
        color:white;
        background-color:rgba(52,73,94,0.8);
    }
    .content{
        color:white;
        font-size:20px;
        font-family:poiret;
        /*background-color: rgba(0,0,0,0.6);*/
        border-radius:10px;
    }
    .content-container h2{
        color: white;
        font-family: poiret;
    }
    .contact-info li i{
        margin-right:20px;
        position:relative;
        float:left;
    }
    .contact-info li{
        margin-top:10px;
        text-align:left;
    }
    .item .panel-footer{
        width:50%;
        margin:auto;
    }
    .carousel-indicators{
        margin-top:50px;
    }
    .team_member{
        display:inline-block;
        border-style:none;
        background-color:transparent;
        width:40%;
        color:white;
    }
    .caption{
        color:white;
        width:100%; 
        text-align:center
    }
    .caption p{
        color:white;
    }
    
    .bio{
        font-size:20px;
        display:inline-block;
        font-family:poiret;
        width:600px;
        height:100px;
        color:white;
    }
    .bio p{
        padding: 50px 0px;
        color:white;
    }
</style>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Muli" />
<body data-spy="scroll" data-target=".navbar" data-offset="0" style="position:relative">
<nav class="navbar navbar-default navbar-fixed-top clear">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home"><img src="http://i.imgur.com/KW2Liea.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="menu_list"><a style="color:white" href="#About">ABOUT</a></li>
                        <li class="menu_list"><a style="color:white" href="#Team">TEAM</a></li>
                        <li class="menu_list"><a style="color:white"  href="#Contact">CONTACT</a></li>
                        {{#if user}}
                            <li class="menu_list"><a href="/sites">SITES</a></li>
                            {{else}}
                            <li><a style="color:white" href="/login">LOG IN</a></li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>

<section id="header">
    <img src="http://i.imgur.com/n4CUoxY.png">
</section>
<section id="header2">
      <div class="jumbotron text-center landing">
            
            <h1>DASH ANALYTICS</h1>
            <h4>Now you can Discover, Track, And Anticipate Your In-Store Customer Behavior</h4>
            <h4 style="font-weight:bold">Like You've Always Wanted</h4>
            <form class="form-inline">
                <div class="input-group">
                    <input type="email" class="form-control" size="50" placeholder="Email Address">
                    <div class="input-group-btn">
                        <button class="btn btn-primary">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
</section>
    <section id="About" class="content-container container-fluid">
       <div style="text-align: center">
            <h1>What We're About</h1>
       </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="col-sm-offset-2" src="http://i.imgur.com/Wh1oNYX.png" width="50%">
             </div>
            <div class="panel col-sm-8" style="background-color:rgba(0,0,0,0)"> 
                <div class="panel-heading">
                    <h2>The Idea</h2>
                </div>
                <div class="content panel-body">
                    <p>A lack of understanding can be the biggest barrier to positive change. 
                    Even as technology evolves, a deep understanding of consumer needs and habits is what 
                    drives any business into the future. With Dash’s technology, 
                    customer habits and experiences can be collected and visualized in a fully automated process.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="col-sm-offset-2" src="http://i.imgur.com/KaJhcRa.png" width="50%">
             </div>
            <div class="panel col-sm-8" style="background-color:rgba(0,0,0,0)"> 
                <div class="panel-heading">
                    <h2>The Vision</h2>
                </div>
                <div class="content panel-body">
                    <p>Dash Analytics exists to merge advancing technology with classic 
                    customer intimacy. Not only can Dash collect, store, and process 
                    precious data about consumers, but it can also display this information 
                    and how it affects a storefront using a real time management dashboard. 
                    Dash optimizes management’s efficiency by making sense of patterns that 
                    may not be seen without real time data analysis. This solution lends a deeper 
                    understanding of each customer who walks into a business while providing staff with the knowledge to adapt.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="col-sm-offset-2" src="http://i.imgur.com/JXWQ0Wj.png" width="50%">
            </div>
            <div class="panel col-sm-8" style="background-color:rgba(0,0,0,0)"> 
                <div class="panel-heading">
                    <h2>The Technology</h2>
                </div>
                <div class="content panel-body">
                    <p>Dash’s technology makes use of a hub that is able to passively 
                    monitor the presence of smart phones. In an age where more than three 
                    quarters of Americans now carry a smart phone with them, this is one of 
                    the most innovative way to automatically monitor and understand consumers as 
                    they enter a storefront. The beauty of this solution comes in two characteristics. 
                    First, it is entirely automated, and constantly running. This means that data collection 
                    does not have to stop, and as soon as new information is gathered, a management team is 
                    made aware. Second, this solution is entirely not intrusive, and involves the collection 
                    of NO personal data. 
                    </p></br>
                    <p>As Dash develops, more means of Data collection are being researched. 
                    On the horizon for Dash includes Geospatial Analysis, to further pinpoint and monitor customer 
                    traffic in the physical world, and a wider variety of recognized signals, in order to collect 
                    data on customers with cell phones, but not a smart device.</p>
                </div>
            </div>
        </div>
    </section>
    <section style="text-align:center">
        <h2>APPLICATIONS</h2>
        <div id="testimonial_carousel" class="carousel slide text-center" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#testimonial_carousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonial_carousel" data-slide-to="1" class="active"></li>
                <li data-target="#testimonial_carousel" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3>In Store Customer Tracking</h3>
                        </div>
                        <div class="panel-body">
                            <img src="http://i.imgur.com/ImmPAZm.png">
                        </div>
                        <div class="panel-footer clear">
                            <p>“Research suggests that estimated wait times diffuse 
                                the stress and anxiety people feel when they are waiting 
                                in lines.”- The Washington Post
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3>Monitor Customer Interaction With Your Product Placement Scheme</h3>
                        </div>
                        <div class="panel-body">
                            <img src="http://i.imgur.com/eXzfKeC.png">
                        </div>
                        <div class="panel-footer clear">
                            <p>“$20 is the amount that US fans, on average, said they would spend additionally 
                                for food & beverage if wait times were cut in half, representing a 42% increase in typical expenditure.”- Oracle Research
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3>Analyze Live Statistics</h3>
                        </div>
                        <div class="panel-body">
                            <img src="http://i.imgur.com/xbEJ9yu.png">
                        </div>
                        <div class="panel-footer clear">
                            <p>
                                “The way that businesses manage lines results in 
                                easily billions of dollars of gained and lost 
                                brand equity and consumer spending.” - Dr. Richard Larson, MIT
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <a class="left carousel-control" href="#testimonial_carousel" style="background-image:none" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#testimonial_carousel" style="background-image:none" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
    </section>
    <section id="Team">
            <h2>Meet Our Expert Team</h2></br>
            <div class="row">
                <div class="col-sm-12">
                    <div class="thumbnail team_member pull-left">
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAl6AAAAJDEwMmQ4ODMxLTIxNDQtNGYyZC1hM2FiLTc0NTI2OTIzYjcxOA.jpg" class="img-rounded" alt="Collin Smith" width="50%">
                        <div class="caption">
                            <p style="font-weight:bold">Collin Smith</p>
                            <p>Chief Executive Officer</p>
                        </div>
                    </div>
                    <div class="bio">
                         <p>
                               As co-founder and CEO of Dash Analytics, Collin leads the team in a national implementation strategy, 
                               overseeing partnerships and daily operations. From Strategy to installation he personally ensures 
                               that the efficiency and seamless design of Dash Analytics is utilized at the highest level within 
                               each organization leveraging the technology. Collin incepted Dash Analytics during his senior year 
                               at Old Dominion University where he earned a Bachelor’s of Science.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="thumbnail team_member pull-left">
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA1uAAAAJDlmZWUwNjMwLWM0YzgtNDg1MS1hOTNjLWYxZDlhNjc0ODBmMg.jpg" class="img-rounded" alt="Chris Jakobowski" width="50%">
                        <div class="caption">
                            <p style="font-weight:bold">Chris Jakobowski</p>
                            <p>Chief Operating Officer</p>
                        </div>
                    </div>
                    <div class="bio">
                         <p>
                                Chris Jakobowski serves as the Chief Operating Officer of Dash Analytics. --}}
                                Chris has extensive experience in project management and design. 
                                In this role, Chris is responsible for external partnerships and handling the peripheral 
                                operations of the company. Chris is committed to driving strong results while transforming 
                                the way Dash Analytics serves its partners and customers- providing managers and clients with 
                                convenience. He joined Dash Analytics during his senior year at Old Dominion University where 
                                he earned his B.S. in Business Administration.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="thumbnail team_member pull-left">
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAtLAAAAJGJkZWEwMTY5LTY0MTMtNDEyZS1iODAzLWE0ZmUzMjk0ZmE4NA.jpg" class="img-rounded" alt="Kenny Diedrich" width="50%">
                        <div class="caption">
                            <p style="font-weight:bold">Kenneth Diedrich</p>
                            <p>Chief Technology Officer</p>
                        </div>
                    </div>
                    <div class="bio">
                         <p>
                            Kenneth, as CTO of Dash Analytics, guides the technical direction of the company. 
                            Alongside the team he manages, Kenneth researches and develops critical components of the 
                            solution and is heavily involved in the prototyping and installation of this innovative product. 
                            A sophomore at Old Dominion University and a true nerd at heart, his years of programming experience 
                            and keen interest in the tech industry fundamentally shape the course of Dash Analytics.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="thumbnail team_member pull-left">
                        <img src="https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/182545_10200992460162027_325747672_n.jpg?oh=3d17e0a189d19a95689a00c9f65b98c9&oe=59B87C80" class="img-rounded" alt="Casey Dye" width="50%">
                        <div class="caption">
                            <p style="font-weight:bold">Casey Dye</p>
                            <p>Chief Information Officer</p>
                        </div>
                    </div>
                    <div class="bio">
                         <p>
                            As the Chief Information Officer, Casey Dye aids Dash Analytics by 
                            identifying opportunities for development in the areas of Data Analysis 
                            and Business Management. Casey works on both ends of this solution, optimizing 
                            the collection and visualization of all data.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="thumbnail team_member pull-left">
                        <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t34.0-12/1462115_756788777670624_1922385372_n.jpg?oh=d5ac3993644e3261c79fe89da88f0747&oe=595FF2EC" class="img-rounded" alt="Blake Rogers" width="50%">
                        <div class="caption">
                            <p style="font-weight:bold">Collin Smith</p>
                            <p>We Developer</p>
                        </div>
                    </div>
                    <div class="bio">
                        <p>
                            Blake is a Navy veteran with a background in electrical engineering and 
                            automation logistics. With a passion for technology and development he has moved into the software industry. 
                            He has developed multiple mobile and web applications and fulfills the role of backend and frontend developer
                            for the Dash platform and collaborates with multiple business to create innovative products like the Dash Analytics platform.
                        </p>
                    </div>
                </div>
       </div>
   </section>
 <div id="Contact" class="container-fluid text-center footer_info">
    <div class="row">
        <h2>Contact Us</h2>
        <div class="col-sm-5" style="color:#333333">
            <ul class="contact-info" style="list-style:none">
                <li><i class="fa fa-map-marker"></i>Norfolk, VA</li>
                <li><i class="fa fa-envelope"></i>itsdashanalytics@gmail.com</li>
                <li><i class="fa fa-phone"></i>757 409 1091</li>
            </ul>
            <ul class="list-inline">
                <li>
                    <a href="#">
                        <span class="fa fa-stack">
                            <i class="fa fa-circle fa-stack-2x" style="color:black"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse" style=""></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa fa-stack">
                            <i class="fa fa-circle fa-stack-2x" style="color:black"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse" style=""></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa fa-stack">
                            <i class="fa fa-circle fa-stack-2x" style="color:black"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse" style=""></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>        
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" name="name" placeholder="Name">
                </div>
                <div class="col-sm-6 form-group">
                   <input class="form-control" name="email" placeholder="Email">
                </div>
            </div>
            <textarea rows="5" placeholder="Comment" class="form-control"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <div class="button">
                        <button class="btn btn-default pull-right">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
 </div>
</body>
<script>
    $(document).scroll(function(){
        
        if ($(".navbar").offset().top > 100){
            $(".navbar").removeClass("clear")
            $(".navbar").addClass("blueBG")
        }else{
             $(".navbar").removeClass("blueBG")
            $(".navbar").addClass("clear")
        }
        
        
    })
</script>