<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dash Analytics</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        
        <!-- Fonts -->
        <!-- Lato -->
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

        <!-- CSS -->

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/main.css">
        <!-- Responsive Stylesheet -->
        <link rel="stylesheet" href="css/responsive.css">
    </head>

    <body id="body">
    	<div id="preloader">
    		<div class="book">
    		  <div class="book__page"></div>
    		  <div class="book__page"></div>
    		  <div class="book__page"></div>
    		</div>
    	</div>

	    <!-- 
	    Header start
	    ==================== -->
	    <div class="navbar-default navbar-fixed-top" id="navigation">
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="#">
                        <img class="logo-1" src="http://i.imgur.com/KW2Liea.png" alt="LOGO" width="50" height="50">
	                    <!--<img class="logo-2" src="images/logo-2.png" alt="LOGO">-->
	                </a>
	            </div>

	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <nav class="collapse navbar-collapse" id="navbar">
	                <ul class="nav navbar-nav navbar-right" id="top-nav">
	                    <li class="current"><a href="#body">Home</a></li>
	                    <li><a href="#about">About us</a></li>
	                    <li><a href="#service">Services</a></li>
	                    <li><a href="#contact">Contact</a></li>
	                    <li><a href="/login">Log In</a></li>
	                </ul>
	            </nav><!-- /.navbar-collapse -->
	        </div><!-- /.container-fluid -->
	    </div>

	    <section id="hero-area">
	        <div class="container">
	            <div class="row">
	                <div class="col-md-6">
	                    <div class="block">
	                        <h1 class="wow fadeInDown">Dash Analytics</h1>
	                        <p class="wow fadeInDown" data-wow-delay="0.3s">Discover,Track,and Anticipate your in-store customer behavior</p>
	                        <div class="wow fadeInDown" data-wow-delay="0.3s">
	                        	<a class="btn btn-default btn-home" href="#about" role="button">Learn More</a>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-6 wow zoomIn">
	                    <div class="block">
	                       <!--add iconic image-->
	                    </div>
	                </div>
	            </div><!-- .row close -->
	        </div><!-- .container close -->
	    </section><!-- header close -->
        <!-- 
        About start
        ==================== -->
        <section id="about" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 wow fadeInLeft">
                    	<div class="sub-heading">
                    		<h3>The Problem We Solve</h3>
                    	</div>
                        <div class="block">
                            <p>A lack of insight is the biggest barrier to positive change. A deep understanding of consumer needs and habits is critical to gaining market superiority and maintaining the upper hand. Various technological improvements have the potential to provide a wealth of valuable information to businesses, but as of yet, few companies are able to take full advantage of the vast amounts of data that exists about the physical world. Purchase frequency, line efficiency, foot traffic density – all examples of the kinds of precious data that’s hiding right under your nose. We’re here to change that.</p>
                        </div>
                        <div class="sub-heading">
                    		<h3>The Solution We Provide</h3>
                    	</div>
                        <div class="block">
                            <p>Dash Analytics is the key to unlocking the hidden potential in the data you didn’t even know could be collected. Dash can track, store, and process a variety of information about consumers, documenting it on a real-time management dashboard detailing exactly how these trends are affecting your storefront. Dash optimizes management efficiency by making sense of the patterns that cannot be seen without real time data analysis. By sifting through the dense fog of information collected, we can provide you with the custom knowledge necessary to adapt and augment your business strategy.</p>
                        </div>
                        <div class="sub-heading">
                    		<h3>The Technology We Build</h3>
                    	</div>
                        <div class="block">
                            <p>Dash’s technology incorporates a small hub that passively scans for the presence of smart phones from which we can extrapolate trends about people and their movements. 
                            In an age where more than three quarters of Americans now carry a smart phone with them, this is an elegant and innovative method of efficiently observing consumers as they enter a storefront. 
                            The attractiveness of this technique is twofold. 
                            First, as the process is entirely automated and continuously running, a management team of designated users are constantly made aware of new information as it is gathered. 
                            Second, this solution is entirely non-intrusive and maintains the integrity of the customer and their privacy. Absolutely no personally identifiable data is gathered or stored – we maintain the utmost respect for your company and clientele. 
                            We wish to remain at the forefront of physical data collection and management; as such, we are in a perpetual process of research and development to ensure that Dash Analytics can serve you to the greatest of our ability. Accuracy improvements, spatial analysis, and a wider variety of recognized signals will all be accessible in the near future. Rest assured that we pursue every avenue of development to improve our product and, in turn, provide you with our very best.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="about-slider">
                        	<div class="init-slider">
                        		<div class="about-item">
                        			<img src="images/about/1.jpg" alt="" class="img-responsive">
                        		</div>
                        		<div class="about-item">
                        			<img src="images/about/2.jpg" alt="" class="img-responsive">
                        		</div>
                        		<div class="about-item">
                        			<img src="images/about/3.jpg" alt="" class="img-responsive">
                        		</div>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #about close -->
        <!-- 
        About start
        ==================== -->

        <!-- 
        Service start
        ==================== -->
        <section id="service" class="section">
            <div class="container">
                <div class="row">
                    <div class="heading wow fadeInUp">
                        <h2>Applications</h2>
                        <p>The Dash platform places your business at the edge of incoming data about day to day operations</p>
                    </div>
                    <div class="col-sm-offset-2 col-sm-6 col-md-3 wow fadeInLeft">
                        <div class="service">
                            <div class="icon-box">
                            	<span class="icon">
                                    <i class="ion-android-desktop"></i>   
                                </span>
                            </div>
                            <div class="caption">
                                <h3>Strategic Product Placement</h3>
                                <p>Monitor all your customer's interactions with your current product placement scheme. Validate your floor plan immediately</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="service">
                            <div class="icon-box">
                            	<span class="icon">
                                    <i class="ion-speedometer"></i>   
                                </span>
                            </div>
                            <div class="caption">
                            	<h3>Live Foot Traffic Statistics</h3>
                                <p>Learn how much traffic a site receives each day and the customer conversion rate</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="service">
                            <div class="icon-box">
                            	<span class="icon">
                                    <i class="ion-ios-infinite-outline"></i>   
                                </span>
                            </div>
                            <div class="caption">
                                <h3>Improve Employee Efficiency</h3>
                                <p>Determining how efficiently employees are processing transactions and implementing new methods can make your business more valuable minute by minute.</p>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="0.9s">-->
                    <!--    <div class="service">-->
                    <!--        <div class="icon-box">-->
                    <!--        	<span class="icon">-->
                    <!--                <i class="ion-ios-cloud-outline"></i>   -->
                    <!--            </span>-->
                    <!--        </div>-->
                    <!--        <div class="caption">-->
                    <!--            <h3>Cloud Option</h3>-->
                    <!--            <p>Lorem ipsum dolor sit amet, con-sectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                </div>
            </div><!-- .container close -->
        </section><!-- #service close -->
<!-- Team
  ================================================== -->

<div id="team" class="team">
    <h2 class="team-section-header light text-center">THE TEAM</h2>

    <div class="team-container row">
        <div class="col-sm-4 team-member">
            <img src="http://i.imgur.com/pkZ5Mz4.jpg" class="img-circle" width="120" height="120">
            <div class="team-member-text">
                <h4 class="team-member-position light">CTO</h4>
                <h5 class="bold">Kenny Diedrich</h5>
                <p class="light"> Kenneth, as CTO of Dash Analytics, guides the technical direction of the company. 
                            Alongside the team he manages, Kenneth researches and develops critical components of the 
                            solution and is heavily involved in the prototyping and installation of this innovative product. 
                            A sophomore at Old Dominion University and a true nerd at heart, his years of programming experience 
                            and keen interest in the tech industry fundamentally shape the course of Dash Analytics.</p>
                <a href="http://www.twitter.com"><img class="team-social-icon" src="images/team-twitter.svg"></a>
                <a href="http://www.facebook.com"><img class="team-social-icon"
                                                       src="images/team-facebook.svg"></a>
                <a href="https://plus.google.com/"><img class="team-social-icon"
                                                        src="images/team-google.svg"></a>
            </div>
        </div>

        <div class="col-sm-4 team-member">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAl6AAAAJDEwMmQ4ODMxLTIxNDQtNGYyZC1hM2FiLTc0NTI2OTIzYjcxOA.jpg" class="img-circle" width="120" height="120">
            <div class="team-member-text">
                <h4 class="team-member-position light">CEO</h4>
                <h5 class="bold">Collin Smith</h5>
                <p class="light"> As co-founder and CEO of Dash Analytics, Collin leads the team in a national implementation strategy, 
                               overseeing partnerships and daily operations. From strategy to installation, he personally ensures 
                               that the efficiency and seamless design of Dash Analytics is utilized at the highest level within 
                               each organization leveraging the technology. Collin and his team launched Dash Analytics during his senior year 
                               at Old Dominion University where he earned a Bachelor’s of Science.</p>
                <a href="http://www.twitter.com"><img class="team-social-icon" src="images/team-twitter.svg"></a>
                <a href="http://www.facebook.com"><img class="team-social-icon"
                                                       src="images/team-facebook.svg"></a>
                <a href="https://plus.google.com/"><img class="team-social-icon"
                                                        src="images/team-google.svg"></a>
            </div>
        </div>

        <div class="col-sm-4 team-member">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA1uAAAAJDlmZWUwNjMwLWM0YzgtNDg1MS1hOTNjLWYxZDlhNjc0ODBmMg.jpg" class="img-circle" width="120" height="120">
            <div class="team-member-text">
                <h4 class="team-member-position light">COO</h4>
                <h5 class="bold">Chris Jakobowski</h5>
                <p class="light">Chris Jakobowski serves as the Chief Operating Officer of Dash Analytics.
                            Chris has extensive experience in project management and design. 
                            In this role, Chris is responsible for external partnerships and handling the peripheral 
                            operations of the company. Chris is committed to driving strong results while transforming 
                            the way Dash Analytics serves its partners and customers providing managers and clients with 
                            convenience. He joined Dash Analytics during his senior year at Old Dominion University where 
                            he earned his B.S. in Business Administration.</p>
                <a href="http://www.twitter.com"><img class="team-social-icon" src="images/team-twitter.svg"></a>
                <a href="http://www.facebook.com"><img class="team-social-icon"
                                                       src="images/team-facebook.svg"></a>
                <a href="https://plus.google.com/"><img class="team-social-icon"
                                                        src="images/team-google.svg"></a>
            </div>

        </div>
        <div class="col-sm-6 team-member">
            <img src="http://i.imgur.com/AiDIeXk.jpg" class="img-circle" width="120" height="120">
            <div class="team-member-text">
                <h4 class="team-member-position light">CIO</h4>
                <h5 class="bold">Casey Dye</h5>
                <p class="light">  As the Chief Information Officer, Casey Dye aids Dash Analytics by 
                            identifying opportunities for development in the areas of Data Analysis 
                            and Business Management. He works on both ends of this solution, optimizing 
                            the collection and visualization of all data. Casey is currently
                            studying Cyber Security with a minor in Computer Science from Old Dominion University.</p>
                <a href="http://www.twitter.com"><img class="team-social-icon" src="images/team-twitter.svg"></a>
                <a href="http://www.facebook.com"><img class="team-social-icon"
                                                       src="images/team-facebook.svg"></a>
                <a href="https://plus.google.com/"><img class="team-social-icon"
                                                        src="images/team-google.svg"></a>
            </div>
        </div>

        <div class="col-sm-6 team-member">
            <img src="http://i.imgur.com/eEmPOhK.jpg" class="img-circle" width="120" height="120">
            <div class="team-member-text">
                <h4 class="team-member-position light">Developer</h4>
                <h5 class="bold">Blake Rogers</h5>
                <p class="light">Blake is a Navy veteran with a background in electrical engineering and 
                            automation logistics. With a passion for technology and development he has moved into the software industry. 
                            He has developed multiple mobile and web applications and fulfills the role of backend and frontend developer
                            for the Dash platform and collaborates with multiple business to create innovative products like the Dash Analytics platform.</p>
                <a href="http://www.twitter.com"><img class="team-social-icon" src="images/team-twitter.svg"></a>
                <a href="http://www.facebook.com"><img class="team-social-icon"
                                                       src="images/team-facebook.svg"></a>
                <a href="https://plus.google.com/"><img class="team-social-icon"
                                                        src="images/team-google.svg"></a>
            </div>

        </div>
        <! -- .row -->

    </div> <!--team-container--->

</div> <!--team-section--->
        <section id="call-to-action" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow text-center">
                        <div class="block">
                            <h2>Want to hear more about what Dash is Doing?</h2>
                            <p>Join our subscriber list and be the first to learn about the value that Dash is providing to businesses and events near you</p>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Your Email Address">
                                <button class="btn btn-default btn-submit" type="submit">Get Notified</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #call-to-action close -->

        <!-- 
        Contact start
        ==================== -->
        <section id="contact" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="block">
                            <div class="heading wow fadeInUp">
                                <h2>Get In Touch</h2>
                                <p>Let us know what you think of Dash. We would love to hear your feedback and address in tough questions</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-5 wow fadeInUp">
						<div class="block text-left">
							<div class="sub-heading">
								<h4>Contact Address</h4>
								<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quos maxime voluptate doloribus, voluptatum nemo vel ipsa in eligendi, ullam. Ducimus consequuntur labore error hic.</p>-->
							</div>
							<address class="address">
                                <hr>
								<p><br>Norfolk, VA<br> United States</p>
                                <hr>
                                <p><strong>E:</strong>&nbsp;admin.dash@gmail.com<br>
                                <strong>P:</strong>&nbsp;757 409 1091</p>
								
                                
							</address>
						</div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 wow fadeInUp" data-wow-delay="0.3s">
                    	<div class="form-group">
                    	    <form action="#" method="post" id="contact-form">
                    	        <div class="input-field">
                    	            <input type="text" class="form-control" placeholder="Your Name" name="name">
                    	        </div>
                    	        <div class="input-field">
                    	            <input type="email" class="form-control" placeholder="Email Address" name="email">
                    	        </div>
                    	        <div class="input-field">
                    	            <textarea class="form-control" placeholder="Your Message" rows="3" name="message"></textarea>
                    	        </div>
                    	        <button class="btn btn-send" type="submit">Send me</button>
                    	    </form>

                    	    <div id="success">
                    	        <p>Your Message was sent successfully</p>
                    	    </div>
                    	    <div id="error">
                    	        <p>Your Message was not sent successfully</p>
                    	    </div>
                    	</div>
                    </div>
                </div>
            </div>
        </section>

        <section clas="wow fadeInUp">
        	<div class="map-wrapper">
        	</div>
        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <p>Copyright &copy; <a href="#">Dash Analytics LLC</a>| All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        <!-- Js -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/vendor/jquery-1.10.2.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="js/jquery.lwtCountdown-1.0.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/jquery.form.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/main.js"></script>
        
    </body>
</html>
