<link rel="stylesheet" href="./styles/styles.css">
<style>
    body{
        margin-top:50px
    }
</style>
<header id="header">
    <div class="container-fluid"  style="text-align: center">
        <div class="jumbotron" style="background-color: rgba(0,0,0,0.5); margin-top:10px;height:600px">
            <h6 style="color:white; margin-top:20px">WELCOME TO DASH ANALYTICS</h6>
            <h2 style="color:white">Data - Science - Meets - Shopping</h1>
        </div>
    </div>
</header>

    

   <section id="About" class="container-fluid">
       <div style="text-align: center">
            <h1>What We're About</h1>
       </div>
      
        <div class="row">
            <div class="col-sm-10 col-sm-offset-2">
                <img class="col-sm-2" src="images/idea.png" width="15%">
                <div class="panel col-sm-10" style="background-color:rgba(0,0,0,0)"> 
                    <div class="panel-heading">
                        <h3>The Idea</h3>
                    </div>
                    <div class="panel-body">
                        <p>This is some information about how the idea came about</p>
                    </div>
                </div>
            </div>
                <div class="col-sm-10 col-sm-offset-2">
                <img class="col-sm-2" src="images/vision.png" width="15%">
                <div class="panel col-sm-10" style="background-color:rgba(0,0,0,0)"> 
                    <div class="panel-heading">
                        <h3>The Vision</h3>
                    </div>
                    <div class="panel-body">
                        <p>This is some information about how the vision we see for Dash</p>
                    </div>
                </div>
            </div>
                <div class="col-sm-10 col-sm-offset-2">
                <img class="col-sm-2" src="images/technology.png" width="15%">
                <div class="panel col-sm-10" style="background-color:rgba(0,0,0,0)"``> 
                    <div class="panel-heading">
                        <h3>The Technology</h3>
                    </div>
                    <div class="panel-body">
                        <p>This is some information about how the technology and how it can change the world</p>
                    </div>
                </div>
            </div>
        </div>
   </section>

   <section id="Team">
       <div class="jumbotron" style="text-align: center;margin-top:-30px">
            <h2>Our Expert Team</h2>
            <p>This is where text goes that talks about how cool our team is</p>

            <div class="row">
                   <div class="col-sm-offset-1 col-sm-3">
                    <div class="thumbnail" style="border-style:none;background-color:transparent">
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAtLAAAAJGJkZWEwMTY5LTY0MTMtNDEyZS1iODAzLWE0ZmUzMjk0ZmE4NA.jpg" class="img-rounded" alt="Kenny Diedrich" width="50%">
                        <div class="caption" style="margin:auto; width:100%; text-align:center" >
                            <p style="font-weight:bold">Kenny Diedrich</p>
                            <p>Chief Technology Officer</p>
                            <p>Some info about Kenny</p>
                        </div>
                    </div>
                </div> 
                   <div class="col-sm-3">
                    <div class="thumbnail" style="border-style:none;background-color:transparent">
                        <img src="https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/182545_10200992460162027_325747672_n.jpg?oh=3d17e0a189d19a95689a00c9f65b98c9&oe=59B87C80" class="img-rounded" alt="Casey Dye" width="50%">
                        <div class="caption" style="margin:auto; width:100%; text-align:center" >
                            <p style="font-weight:bold">Casey Dye</p>
                            <p>Creative Director</p>
                            <p>Some info about Casey</p>
                        </div>
                    </div>
                </div> 
                   <div class="col-sm-3">
                    <div class="thumbnail" style="border-style:none;background-color:transparent">
                        <img src="https://scontent-dft4-2.xx.fbcdn.net/v/t31.0-8/12339215_1208427382506759_5538751028405840229_o.jpg?oh=f06d9b9869d1687674af58be9d206313&oe=59BF5893" class="img-rounded" alt="Blake Rogers" width="50%">
                        <div class="caption" style="margin:auto; width:100%; text-align:center" >
                            <p style="font-weight:bold">Blake Rogers</p>
                            <p>Web & Mobile Developer</p>
                            <p>Some info about Blake</p>
                        </div>
                    </div>
                </div>   
            </div>
       </div>
   </section>



