   <link rel="stylesheet" href="./styles/styles.css">
   <style>
       body{
        background-color:#333333;
        /*background:linear-gradient(rgba(84,132,202,100),rgba(44,56,139,100));*/
        background-repeat:no-repeat;
       }
       .logo{
           padding:100px;
       }
       .logo img{
           display:block;
           margin:auto;
       }
   </style>
   <div class="logo container-fluid">
       <img src="http://i.imgur.com/2RUUpaX.png">
   </div>
    <div class="container">
        <div class="panel col-sm-6 col-sm-offset-3">
           <div class="panel-heading">
               <h1>Log in to Your Account</h1>
           </div>
            <div class="panel-body">
                <form id="login_form" action="/api/users/login" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label id="login_label" for="email" class="control-label col-sm-4">Email:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="email" name="email" id="email" value="blake.rogers757@gmail.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label id="login_label" for"password" class="control-label col-sm-4">Password:</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" name="password" id="password" value="123456">
                        </div>
                    </div>
                    <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4">
                        <button id="login_button" type="submit" class="btn btn-success">Sign In</button>
                    </div>
                </div> 
                </form>
            </div>
            <div class="panel-footer">
                 <a>Forget Your Password?</a>
            </div>
        </div>
    </div>
   
            
    
            
