<link rel="stylesheet" href="./styles/styles.css" type="text/css">
<link rel="stylesheet" href="../../styles/styles.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<style>
    body{
          background-color: #eeeeee;
          margin-top:-40px;
    }
    #topborder{
        background-color:#1ABC9C;
        height: 100px;
        border:none;
    }
    .site_icon{
        background-color:#eeeeee;
        border-radius:10px;
        margin-top:30px;
        width:282px;
        height:284px;
    }
    .site_icon img{
        margin-top:20px;
        display:block;
        margin:auto;
    }
</style>
    <div id="topborder" class="container-fluid">
        <div class="site_icon">
            <img src={{site.icon_url}}>
        </div>
    </div>
    <div id="dashboard" class="container-fluid" style="margin-top:90px;background-color:eeeeee;border:none">
        <div class="row">
        <div class="col-sm-2" style="background-color:#1ABC9C">
              <div id="siteNav" class="sidenav" height="500" style="margin-top:20px">
                <ul class="nav nav-stacked">
                    <li class="menu_list"><a href="/sites">Sites</a></li>
                    <li class="menu_list"><a href="/account">Account</a></li>
                    <li class="menu_list"><a href="/home">Log Out</a></li>
                </ul>
            </div>
     </div>
   
        <div class="col-sm-10" style="margin-top:0px">
            {{#if site}}
                    {{>sites_date_pickers}}
            {{else}}
          
                {{#each sites}}
                    <div class="row">
                        <div class="col-sm-2">
                                <img src={{icon_url}}>
                        </div>
                        <div class="col-sm-10">
                            <div class="panel">
                                <div class="panel-heading"><h3>{{name}}</h3></div>
                                <div class="panel-body"><h5>site info</h5></div>
                            </div>
                        </div>
                    </div>
               {{/each}}
        
               
            {{/if}}
    </div>
   </div>
</div>









