<div class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                ...
            </div>
        </div>
        <!-- Top Bar End -->


        <!-- ========== Left Sidebar start ========== -->

        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <!--- Divider -->
                <div id="sidebar-menu">
                    ...
                </div>
            </div>
        </div>
        <!-- ========== Left Sidebar end ========== -->

        <!-- ========== main content start ========== -->
        <div class="content-page">

            <!-- content -->
            <div class="content">
                ....
            </div>

            <!-- content -->

            <!-- footer -->
            <footer class="footer">
                © 2017 Admiria - All Rights Reserved.
            </footer>
        </div>

        <!-- ========== main content end ========== -->


    </div>
    <!-- scripts -->
    ...

</div>