#login_div{
    margin-top: -20px;
    height: 1500px;
}

#login_form{
    margin-top: 100px;

}
#login_label{
    color: white;
}
#dashboard{
    height: 1000px;
}
.futureSite{
    color:grey;
}
 #header{
        background-image: url("../images/bg7.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: blue;
    }
#footer{
    margin-top:-30px;
    background-image:url("../images/call.png");
    background-size: 100%;
    background-repeat:no-repeat;
    height:600px;
}
.footer_info{
    color:white
}
.

