
#dashboard{
    height: 1000px;
}
.futureSite{
    color:grey;
}
 #header{
        /*background-image: url("../images/bg7.png");*/
        background-image: url("http://i.imgur.com/lm2gZ6c.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
      
    }

.footer_info{
    margin-top:-30px;
    background-color: #444444;
    color:white;
}

.carousel-control.left, .carousel-control{
    background-image: none;
    color:#333333
}
.carousel-indicators li{
    background-color:#f4531e;
    border-color: #ffffff;
}
.carousel-indicators li.active{
    background-color:#333333;
}
.item h4{
    margin: 70px;
}
.bg-grey{
    background-color: #f6f6f6;
}
.i{
    margin-right:50px;
}
.navbar{
    z-index:999;
    border:0;
    border-color:transparent;
    font-size: 12px;
    letter-spacing: 4px;
}
.landing{
    padding:50px;
}

h1{
    font-family: Arial;
    font-weight:lighter;
    line-height: 1.4;
    
}
